<style>
  .container{
    width: 100%;
    max-width: initial;
  }
  .parallax-container {
    height: 550px;
  }
</style>

<h5>Transporter app</h5>

<div class="parallax-container">
  <div class="parallax parallax-container"><img src="<%= asset_path('background2.jpg')%>"></div>
</div>

<div class="row container">
  <h4 class="header"><center>Transporter app</center></h4>
  <h5 class="grey-text text-darken-3 lighten-3"><center>Transporter app</center></h5>
</div>

<footer class="page-footer navbar-color">
   <div class="row">
     <div class="col l6 s12">
       <h5 class="white-text">Transporter app</h5>
       <p class="grey-text text-lighten-4">Transporter app</p>
     </div>
     <div class="col l4 offset-l2 s12">
       <h5 class="white-text">Ryhor (Greg) Nalehach</h5>
       <ul>
         <li><a class="grey-text text-lighten-3" href="https://github.com/ryhornalehach">GitHub</a></li>
         <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/ryhornalehach/">LinkedIn</a></li>
       </ul>
     </div>
   </div>
   <div class="footer-copyright navbar-color-dark">
     <div class="container">
       © 2017 Ryhor (Greg) Nalehach
       <a class="grey-text text-lighten-4 right" href="#!">More features coming soon!</a>
     </div>
  </div>
 </footer>
