<div class="row">
  <div class="col s12">
    <h3>Hello <%= @user.first_name.capitalize %>!</h3>
  </div>
</div>
<div class="row">
  <div class="col s12">
    <% if current_user && current_user.admin? %>
      <%= link_to "Edit Profile", edit_user_path(@user), class: "btn waves-effect waves-light navbar-color-dark" %>
      <%= link_to "Delete User", user_path(@user), method: :delete, data: {confirm: "Are You Sure?"}, class: 'waves-effect waves-light btn red' %>
    <%else%>
      <%= link_to "Edit My Profile", edit_user_registration_path, class: "btn waves-effect waves-light navbar-color-dark" %>
    <%end%>
  </div>
</div>
