<h5><center>Import clients from Excel spreadsheet</center></h5>
<p class="grey-text text-darken-3 lighten-3">Upload .xlsx file to import new clients to the database.</p>

<%= form_for @new_file do |f| %>

  <div class="row">
    <div class="file-field input-field col s12 l6">
      <div class="btn navbar-color-dark">
        <span>File</span>
        <%= f.file_field :import, id: "upload"%>
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate", placeholder="Upload new file">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <%= f.submit "Upload", class: "btn waves-effect waves-light navbar-color-dark" %>
    </div>
  </div>

<% end %>
