@import "materialize";
// @import "*";
.navbar-color {
  background: #78909C;
}

.navbar-color-dark {
  background: #607D8B;
}

.card-size {
  height: 200px;
}

.map-container {
  height: 450px;
  width: 95%;
  margin: auto;
  margin-top: 10px;
}

.large-text {
  font-size: 140%;
}
