@import "materialize";
// @import "*";
.navbar-color {
  background: #78909C;
}

.navbar-color-dark {
  background: #607D8B;
}

.card-size {
  height: 200px;
}

.map-container {
  height: 450px;
  width: 95%;
  margin: auto;
  margin-top: 10px;
}

.large-text {
  font-size: 140%;
}

.side-nav li > a {
  color: #039BE5;
  font-size: 36px;
  height: 80px;
  line-height: 100px;
}

.side-nav {
  width: 400px;
}

.invisible {
  visibility: hidden;
}

.white-text a {
  color: white;
  text-decoration: underline;
}

textarea {
  height: 6rem;
}
