@import "materialize";
// @import "*";
.navbar-color {
  background: #78909C;
}

.navbar-color-dark {
  background: #607D8B;
}

.card-size {
  height: 250px;
}

.map-container {
  height: 450px;
  width: 95%;
  margin: auto;
  margin-top: 10px;
}

.large-text {
  font-size: 140%;
}

.side-nav li > a {
  color: #039BE5;
}

.invisible {
  visibility: hidden;
}

.white-text a {
  color: white;
  text-decoration: underline;
}

.no-margin {
  margin-top: 0px;
  margin-bottom: 0px;
}
.input-field {
  margin-top: 0px;
  margin-bottom: 0px;
}

.form-6 {
  width: 6REM;
}

.form-10 {
  width: 10REM;
}

.card .card-action {
  padding-left: 4px;
  padding-right: 4px;
}

textarea {
  height: 6rem;
}

body {
  font-family: 'Raleway', sans-serif;
}

tr td {
  white-space: normal;
}

td {
  padding: 5px;
}
